@font-face {
  font-family: figtree;
  src: url(/assets/fonts/Figtree-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
}

body {
  font-family: figtree;
  background-color: #f4d04e;
}

.main-container {
  width: 384px;
  height: 546px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid black;
  padding: 24px 24px;
  position: absolute;
  top: 139px;
  right: 618px;
  z-index: 3;
}

.card-container {
  position: relative;
}

.card-outline {
  position: absolute;
  width: 384px;
  height: 546px;
  background: black;
  border-radius: 18px;
  top: 150px;
  right: 607px;
  z-index: 2;
}

.image-container img {
  border-radius: 10px;
  margin-bottom: 24px;
}

.tag {
  text-transform: capitalize;
  background-color: #f4d04e;
  padding: 4px 12px;
  border-radius: 4px;
  width: 82px;
  font-weight: bold;
  margin-bottom: 24px;
}

.date {
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 24px;
}

.blog-heading {
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 24px;
}

.description {
  font-size: 15px;
  color: #7f7f7f;
  margin-bottom: 24px;
}

/* Author Deatils */

.author {
  display: flex;
  align-items: center;
  gap: 12px;
}

.author-image img {
  height: 32px;
  width: auto;
}
.author-name {
  text-transform: capitalize;
  font-weight: bold;
}
